.disease{
    padding: 10px 40px;
    /* background-color: #4CAF50; */
}

button{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    /* remove it after */
    background-color: #4CAF50;
    color: white;
}

.predict_button{
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
}
.selected {
    padding: 5px 5px;
    margin: 5px 0px;
    /* border-radius: 10px; */
    box-shadow: 0 0 1px 1px rgb(230,230,230);
}

.suggestions{
    margin: 5px 0px;
    padding: 5px 5px;
    /* border-radius: 10px; */
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 1px 1px rgb(230, 230, 230);
}
.suggestions::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    /* width of the entire scrollbar */
}

.suggestions::-webkit-scrollbar-track {
    background:  white;
    border-radius: 20px;
    /* color of the tracking area */
}

.suggestions::-webkit-scrollbar-thumb {
    background-color: blue;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange; */
    /* creates padding around scroll thumb */
}
.selected_button, .suggestions_button{
    background-color: #4CAF50;
    /* Green */
   
    color: white;
 
}